body {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

h1 {
    color: black;
    text-align: center;
}

p,tr {
    font-family: verdana;
    font-size: 20px;
}

td,input,button{
    font-family: verdana;
    font-size: 20px;
}