body {/*make a nice background */
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
	
}

h1 {
    color: black;
	font-family: verdana;
    text-align: center;
	font-weight: bold;
	text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white;
}

p,tr {
    font-family: verdana;
	font-weight: bold;
    font-size: 36px;
		text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white;
}

td,input,button,label{
    font-family: verdana;
	font-weight: bold;
    font-size: 26px;
		text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white;
}